.login-area {
  padding: 100px 0;
  min-height: calc(100vh - 159px);
}
.login-area h2 {
  margin-bottom: 0;
}
.reg-link {
  color: blue !important;
  padding: 10px !important;
  display: inline-block !important;
}
.login-area button {
  background-color: #7952b3;
  border: 1px solid #7952b3;
  padding: 10px 40px;
  text-align: center;
  border-radius: 4px;
  width: 100%;
}

.login-area button:hover {
  background-color: #fff;
  color: black;
}
